---
layout: default
title: Projects
tag: Project
---
<main class="page-content" aria-label="Content">
    <section class="chapters cf">
        <div class="wrapper flex-row">
            {% for post in site.tags["Project"] %}
            <div class="chapter">
                <a href="{{post.url | prepend: site.baseurl}}">
                    {% if post.img %}
                    <img src={{ "/assets/img/projects/" | prepend: site.baseurl | append: post.img }} alt="{{post.title}}">
                    {% endif %}
                </a>
            </div>
            {% endfor %}
        </div>
    </section>
</main>

{% include pagination.html %}